<h2>Login</h2>
<form method=post action =/login>
	<input type=text placeholder="Email" name="user_email"><br>
	<input type=password placeholder="Password" name="user_password"><br>
	<input type=submit values="Login">
</form>
